<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Automation Suite" verbose="1" preserve-order="true">

    <test name="All Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>

    <test name="Payments UI Tests">
        <groups>
            <run>
                <include name="payments-ui"/>
            </run>
        </groups>
        <classes>
            <class name="tests.ComplaintTest"/>
        </classes>
    </test>

    <test name="Sanity Tests">
        <groups>
            <run>
                <include name="sanity"/>
            </run>
        </groups>
        <classes>
            <class name="tests.CampaignLandingTest"/>
            <class name="tests.DraftCampaignTest"/>
            <class name="tests.BoundarySelectionTest"/>
            <class name="tests.AppConfigurationTest"/>
            <class name="tests.ConfigureDeliveryRulesTest"/>
            <class name="tests.UploadFileTest"/>
            <class name="tests.CreateChecklistTest"/>
        </classes>
    </test>

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.CreateChecklistTest"/>
        </classes>
    </test>

    <test name="1 - Draft Campaign Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.DraftCampaignTest"/>
        </classes>
    </test>

    <test name="2 - Boundary Selection Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.BoundarySelectionTest"/>
        </classes>
    </test>

    <test name="3 - Configure Delivery Rules Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.ConfigureDeliveryRulesTest"/>
        </classes>
    </test>

    <test name="4 - App Configuration Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.AppConfigurationTest"/>
        </classes>
    </test>

    <test name="5 - Upload File Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="tests.UploadFileTest"/>
        </classes>
    </test>

</suite>
